.menu {
  grid-area: menu;
  padding: 10px 15%;
  font-size: 33px;
  text-align: center;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 200px);
  grid-gap: 150px;

  a {
    color: $descriptionColor;

    &:hover {
      color: lighten($buttonsColor, 10);
    }
  }

  .active {
    color: $buttonsColor;
  }

  .menu-caption {
    display: grid;
    font-size: 14px;
    font-weight: bold;
    font-family: $mainFont;
    line-height: 1.5;
  }

  @media (min-width: 1520px) and (max-width: 1930px) {
    grid-gap: 210px;
  }
}