$blackBG: #000000;
$headerBG: #fdfdfd;
$timeColor: #7c7d7f;
$descriptionColor: #e0dfe4;
$buttonsColor: #5f5fbb;
$exerciseReadyColor: #ff0000;
$buttonBack: radial-gradient(#00000080, transparent);